
body{
    font-family: 'Varela Round', sans-serif;
}
.navbar-style{
    background-color: #ebf7ff;
    border-bottom: solid;
    border-color: #70b3cd;
}
.dot-style{
    color: rgb(0, 174, 255);
    font-size: 25px;
}
.navbar-brand{
    font-weight: 550;
}
.navTitle{
    margin-right: 100px;
}
.navTitle a{
    color: #292c2f;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.navTitle a:hover{
    opacity: 0.8;
    box-shadow: 0px 3px #127bff;
    text-decoration:none
}
.navTitleCollaps {
    width: 50%;
    border-radius: 0px 0px 20px 0px;
    color: #96d3ff;
}
.navTitleCollaps a{
    font-size: 17px;
    color: #292c2f;
}
.cover-main{
    height: 600px;
    position: relative;
    filter: brightness(1.3);
    filter: opacity(0.65);
}
.BigTitle{
    font-size: 180px;
    text-align: center;
    position: absolute;
    top: 70px;
    font-weight: bolder;
    font-family: 'Secular One', sans-serif;
    color: #22313c;
}
.btn-contact{
    position: absolute;
    top: 550px;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #22313c;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: +1;
}
.togglerBtnCatalog{
    display: none;
}
.catalog-section1{
    text-align: right;
    direction: rtl;
}
.vList{
    text-align: right;
    position: absolute;
    top: 400px;
    right: 200px;
    justify-content: right;
    color:  #22313c;
    font-size: 23px;
    font-weight: bold;
}
.buttonS {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 40%;
    margin-top: 3%;
    border-radius: 10px;
  }
  .button2 {
    background-color: #eff6fd; 
    color: black; 
    border: 2px solid #008CBA;
  }
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
.verticalView a{
   color: #292c2f;
   border-width: 0.5px;
   border-style: solid;
   border-color: #374550;
}
.verticalView a:hover{
    opacity: 0.8;
    box-shadow: 0px 5px #127bff;
    font-weight: 500;
}
.verticalView a:active {
    background-color: #3492d6;
}
.dropdown{
    z-index: +1;
    margin-right: 5px;
}
.btn-secondary {
    color: #fff;
    background-color: #5c7388;
    border-color: #668bad;
    margin-right: 100%;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #748ba2;
    border-color: #9ea1a5;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #efefef;
    background-color: #3d8fca;
    text-align: right;
    font-weight: 900;
}
.section1 .card{
    z-index: -1;
}
.catalog-section{
    text-align: right;
    padding-top: 2%;
    padding-bottom: 0%;
    background-color: rgb(255, 255, 255);
}
.btn-default {
    top: 25%;
    left:25%; 
    color: #999; 
    background: #fffccc; 
} 
.sm-title{
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
}
.modal{
    max-height: 800px;
}
.card-title{
    text-align: right;
    font-weight: bold;
}
.card{
    margin-top: 4%;
    direction: rtl;
}
.product-name {
    text-align: right;
    direction: rtl;
    margin-right: 13px;
    margin-bottom: 60px;
    /* position: absolute; */
    top: 15px;
    right: 16px;
    font-size: 30px;
}
.product-size{
    padding-top: -30px;
    text-align: right;
    direction: rtl;
    position: absolute;
    top: 40px;
    right: 16px;
}
.product-num{
    padding-top: 63px;
    text-align: right;
    direction: rtl;
    position: absolute;
    top: 0px;
    right: 16px;
}
.number-pro{
    font-size: 12px;
}
.card-text{
    font-size: 18px;
}
.card-img, .card-img-top{
    max-height: 165px;
}
.catalog-section .card:hover{
    opacity: 0.8;
    box-shadow: 0px 5px #7ac4f8;
    transition: 0.6s ease;
}
.btn-more-product {
    margin-right: 20%; 
}
/* Discounts & new section */
.discounts-section{
    padding-top: 10%;
    padding-bottom: 5%;
    direction: rtl;
}
.nav-tabs{
    border-width: 3px;
}
.nav-tabs .nav-link {
    border: 3px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #363837;
    /* font-weight: 900; */
}
.toggle-Weight{
    font-weight: 900;
}

.discount-Percent{
    position: absolute;
    top: 15px;
    left: 0px;
    background-color: #6ddd7f;
    color: rgb(61, 61, 61);
    font-size: 25px;
    font-weight: bold;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 0px 7px 7px 0;
}
.discount-new{
    position: absolute;
    top: 15px;
    left: 0px;
    background-color: #6ddd7f;
    color: rgb(61, 61, 61);
    font-size: 25px;
    font-weight: bold;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 0px 7px 7px 0;
}
.btn-size-up{
    align-content: center;
    margin-left: 30%;
    font-size: 15px;
}
.card-body h5, .card-body p{
    text-align: right;
}
.card-discount img{
    max-height: 220px;
}

.card-discount{
    border-width: 0px 0px 4px 0px;
    border-style: solid;
    border-color: #96d3ff;
}
.card-discount:hover{
    opacity: 0.8;
    box-shadow: 0px 5px #7ac4f8;
    transition: 0.6s ease;
}
/* who we are section */
.who-we-are-section{
    padding-top: 5%;
    padding-bottom: 40px;
    background-color: #eef6fc;
}
#about-title{
    margin-left: 60%; 
    margin-right: 0px;
}
.who-description {
    direction: rtl; 
    text-align: right;
}
.logo-about{
    animation: imgmove 3s 1;
}
#logo-ani{
    border-radius: 0px 45px 45px 0px;
}
.hr-about-animation{
    display: block; height: 1px;
    border: 0; border-top: 1px solid #96d3ff;
    margin: 1em 0; padding: 0;
    animation: hrani 3s 1;
}
@keyframes imgmove {
    from {left: -200px;}
    to {left: 0px;}
}
@keyframes hrani {
    from{width: 0%;}
    to{width: 100%;}
}
/* contact section */
.infoform li {
    background-color: #eef6fc;
    cursor:  auto;
}
.infoform li:hover{
    background-color: #f9f9f9;
    cursor:  auto;
}
.contact-section{
    background-color: #eef6fc;
}
.hr-contact{
    display: block; height: 1px;
    border: 0; border-top: 1px solid #96d3ff;
    margin: 1em 0; padding: 0;
    width: 150px;
    animation: hr-contact-ani 2.5s 1;
}
#hr-cont{
    margin-top: -15px;
    margin-bottom: -5px;
}
@keyframes hr-contact-ani {
    from{left: -30%;}
    to{left: 0%;}
}
#leave-detailes{
    text-align: center;
    direction: rtl;
}
.form-group{
    direction: rtl;
}
/* Footer */
.footer-left .footer-links a-links{
    text-align: left;
}
.footer-left{
    direction: rtl;
}
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}
.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}
.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}
.made-israel{
    height: 5rem; 
    filter: brightness(4);
}
.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
.footer-distributed p.footer-links a:hover{text-decoration:underline;}
/* Media Queries */
@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
/* Responsive */
/* @media screen and (min-width:1024px){

} */
@media screen and (max-width:1024px){
    .cover-main{
        height: 400px;
        position: relative;
    }
    .btn-contact{
        top: 285px;
        left: 100px;
        justify-content: center;
        font-size: small;
    }
    .btn-more-product {
        font-size: 12px;
    }
    .vList{
        top: 100px;
        right: 60px;
    }
    .BigTitle{
        font-size: 100px;
        top: 130px;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .vList{
        top: 80px;
        right: 40px;
    }
    .BigTitle{
        font-size: 80px;
        top: 130px;
    }
}
@media screen and (max-width:767px){
    .cover-main{
        height: 250px;
        position: relative;
    }
    .btn-contact{
        top: 185px;
        left: 52%;
        font-size: small;
        justify-content: center;
    }
    .card-discount {
        width: 10rem;
    }
    .btn-size-up{
        padding: 5px 5px 5px 5px; 
        font-size: 11px;
    }
    .sm-title{
        margin-left: 10px;
        font-weight: bold;
        font-size: 15px;
    }
    .made-israel{
        height: 3rem; 
        filter: brightness(4);
    }
    #about-title{
        margin-left: 0%; 
    }
    .product-name{
        margin-bottom: 50px;
    }
    .card-img, .card-img-top{
        max-height: 110px;
    }
    .verticalView a{
        font-size: 12px;
    }
    .buttonS{
        margin-left: 24%;
    }
    .showdropdownMargin{
        margin-right: 50px;
    }
    .tab-content>.active {
        display: block;
        margin-top: 50px;
    }
    .btn-dark{
        width: 75%;
    }
    .BigTitle{
        font-size: 50px;
        top: 70px;
    }
}
/*  */

/* offset link anchor tags */
#whowe::before, #catsec::before, #discsec::before, #contsec::before {
    content: "";
    display: block;
    padding-top: 90px; /* header height + empty space */
    margin-top: -50px; /* header height to degrees padding’s space */
}

.btnpos{
position: fixed;
top: 65px;
z-index: 9990;
}

.btnbeforeafterpos{
    margin-right: 90px;
}

